<h1 class="card-title" id="welcome-welcome">Tarot Reader</h1>
<div class="row" id="home-row">
  <div class="col-md-12">
  
  <%= image_tag "eye.png", id:"eye-img" %>
    
  </div>
</div>

<div class="tarot-origins">
<h2>Origins of <em>Tarot</em></h2>
  <p class="origins">Like many forms of divination, Tarot cards are a tool to help you tap into your own intuition and the wisdom of the universal energy that guides your life. Tarot, which has origins in 14th century Europe, is not a form of fortune telling. It's more like a mirror that reflects what is happening in your life at the moment. Tarot is able to tap into hidden thoughts, feelings and truths and bring them to the surface so you can use that information to make decisions about life, love, emotions, health, career and more.</p>
</div>

<div class="tarot-history">
<h2>About <em>Tarot</em></h2>
<p class="history">There are many decks with 78 pictorial cards, each with its own imagery, symbolism, and story. Through them, one can get clear intuitive guidance of a person which eventually tarot card readers predict for their clients. In other words, reading tarot cards is a type of cartomancy.

A person can ask the reader any question regarding professional life, money health, relationship, family, business, etc., a tarot card reader reads them in combination depending on the kind of question. Tarot card reading can help you lead a happy life by revealing to you all the inner secrets of life. The process of prediction starts with knowing a person’s present life and his state of mind. During the predictions, one relates to it and therefore gets clearer guidance on how to go about in life.


 </p>
</div>

<div class="three-card-reading">
<h2><em>Three Card</em> Reading Information</h2>
<%= image_tag "3card.png", id:"card-3-img" %>
<p class="three-reading">The most common 3 card tarot reading is the traditional, Past, Present and Future structure. In this spread, you'll use the cards to reflect on the past, assess the present and plan for the future. ... For example, if you get The Lovers card, then the reading will probably centre around your romantic or self love. Get your three card reading <%= link_to " here", cards_three_path, class: "home-link" %>. </p>
</div>

<div class="ten-card-reading">
  <h2><em>Ten Card</em> Reading Information</h2>
  <%= image_tag "celtic_cross_lg.png", id:"celtic-img" %>
  <p class="ten-reading"> <strong>1</strong>. The Present / The Self - This position reveals the current situation, and what is now happening. It can also be used to represent what the current state of mind is for the querent and a snapshot of who the querent is at the current moment in time.
  <strong>2</strong>. The Problem - This card represents the challenge that the querent is facing at this time, something that they need to resolve in order to make progress forward.
  <strong>3</strong>. The Past - Here we see the the past events, and also how they have shaped the current situation. This can give us some information on influences in the past that have lead up to this state of affairs.
  <strong>4</strong>. The Future - This card represents what could be a likely turn of events, given that nothing changes. These are usually short term happenings, and doesnt represent the final resolution of these events.
  <strong>5</strong>. Conscious - This card explores what you are focused on, and where your mind is. This can represent your goals and your desires regarding this situation, as well as what your assumptions are.
  <strong>6</strong>. Unconscious - The unconscious reveals what is truly driving this situation; the feelings, the beliefs and the values that perhaps the querent doesnt even understand yet. Sometimes this card may be a surprise, and can also represent a hidden influence.
  <strong>7</strong>. Your Influence - This card can be interpreted somewhat broadly - but in general, relates to how you see yourself, and how that perception can influence how this situation plays out. What beliefs about yourself do you carry? Do you expand yourself, or limit yourself?
  <strong>8</strong>. External Influence - This card represents the world around you and how it affects this situation. It may represent the social and emotional environment that you are operating in, as well as how others perceive you.
  <strong>9</strong>. Hopes and Fears - One of the harder positions in this spread to decode, this card can represent both what you secretly desire, as well as what you may be trying to avoid. Human nature is often paradoxical, and what we fear the most is sometimes what we also truly have been hoping for all along.
  <strong>10</strong>. Outcome - This card is meant to be a summary of all the previous cards. Given all that is happening, what is the likely resolution of this event? Should you find a card here that does not have a favorable outcome, you can analyze the remainder of the spread to find another course of action. Get your ten card reading <%= link_to " here", cards_ten_path, class: "home-link" %>.</p>
</div>

<div class="single-card-reading">
<h2><em>Single Card</em> Reading Information</h2>
<p class="one-reading"><strong>Layers of meaning:</strong> No card has only one meaning. There are layers and layers of information embedded in the psychology of the card and in the symbolism of the illustration. Meaning is also found in the memories the card elicits in the reader, and it’s in the emotions that arise without bidding. Meaning can be found in the colors, the position of the figure/s, their clothes, the background, even in the weather depicted.
<strong>Clarity:</strong> Often one card smacks you in the face with clarity. Right there. That’s the answer. Sometimes you have to work a little; dig a little deeper; maybe even wait a little for the meaning to reveal itself. Yet, when you mine out that vital piece of information, you know it. It’s clear.
<strong>Brevity:</strong> It’s one card. It’s brief.
<strong>Unarguable:</strong> Stay with it. It tells the truth. Every time. The tarot does not lie. You can gild it with what you want to hear, but in the end, the card’s energy is true.
<strong>Memorable:</strong> You can carry the card with you for as long as it takes. It can live in your head or your journal, or you can even put the actual card in your wallet. If the question is important, the reply from the cards will be emphatic. It will stay with you. Get your single card reading <%= link_to " here", cards_random_path, class: "home-link" %>.</p>
</div>

