<h1>Name: <%= @card.name %></h1>
<h3>Description: <%= @card.description%></h3>
<h3>Reverse Description: <%= @card.reverse_description %></h3>
<hr>
<%= image_tag(@card.attached_image) %>


<p><%= link_to "Back to home", root_path %></p>