<%= link_to "Return to cards", cards_path, :class => "nav btn btn-info" %>

<div class="show-holder">
  <div class="row">
  <div class="col-sm-6">
  <h1 class="description-title">Name: <%= @card.name %></h1>
  <%= image_tag @card.attached_image, :class => "show-image" %>
  </div>
  <div class="col-sm-6">
  <p class="show-description">Description: <%= @card.description%></p>
  <p class="show-description">Reverse Description: <%= @card.reverse_description %></p>
  </div>
</div>
