<div class="ten-card-holder">
  <div class="row">
    <div class="col-sm-3">
      <h2 class="card-title">Descriptions of Cards</h2>
    </div>
    <div class="col-sm-2 side-card">
      <div class="card">
        <div class="ten-card-back" id="ten-back-card-3">
          <%= image_tag ("card_back.jpg"), :class => "ten-card-back" %>
        </div>
        <div id="ten-card-image-3">
          <%= image_tag @ten[2].attached_image, :class => "ten-card-image" %>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="ten-card-back" id="ten-back-card-2">
          <%= image_tag ("card_back.jpg"), :class => "ten-card-back" %>
        </div>
        <div id="ten-card-image-2">
          <%= image_tag @ten[1].attached_image, :class => "ten-card-image" %>
        </div>
      </div>
      <div class="card">
        <div class="ten-card-back" id="ten-back-card-3">
          <%= image_tag ("card_back.jpg"), :class => "ten-card-back" %>
        </div>
        <div id="ten-card-image-3">
          <%= image_tag @ten[2].attached_image, :class => "ten-card-image" %>
        </div>
      </div>
      <div class="card">
        <div class="ten-card-back" id="ten-back-card-3">
          <%= image_tag ("card_back.jpg"), :class => "ten-card-back" %>
        </div>
        <div id="ten-card-image-3">
          <%= image_tag @ten[2].attached_image, :class => "ten-card-image" %>
        </div>
      </div>
      <div class="card">
        <div class="ten-card-back" id="ten-back-card-3">
          <%= image_tag ("card_back.jpg"), :class => "ten-card-back" %>
        </div>
        <div id="ten-card-image-3">
          <%= image_tag @ten[2].attached_image, :class => "ten-card-image" %>
        </div>
      </div>
    </div>
    <div class="col-sm-2 side-card">
      <div class="card">
        <div class="ten-card-back" id="ten-back-card-3">
          <%= image_tag ("card_back.jpg"), :class => "ten-card-back" %>
        </div>
        <div id="ten-card-image-3">
          <%= image_tag @ten[2].attached_image, :class => "ten-card-image" %>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <div class="ten-card-back" id="ten-back-card-3">
          <%= image_tag ("card_back.jpg"), :class => "ten-card-back" %>
        </div>
        <div id="ten-card-image-3">
          <%= image_tag @ten[2].attached_image, :class => "ten-card-image" %>
        </div>
      </div>
      <div class="card">
        <div class="ten-card-back" id="ten-back-card-3">
          <%= image_tag ("card_back.jpg"), :class => "ten-card-back" %>
        </div>
        <div id="ten-card-image-3">
          <%= image_tag @ten[2].attached_image, :class => "ten-card-image" %>
        </div>
      </div>
      <div class="card">
        <div class="ten-card-back" id="ten-back-card-3">
          <%= image_tag ("card_back.jpg"), :class => "ten-card-back" %>
        </div>
        <div id="ten-card-image-3">
          <%= image_tag @ten[2].attached_image, :class => "ten-card-image" %>
        </div>
      </div>
      <div class="card">
        <div class="ten-card-back" id="ten-back-card-3">
          <%= image_tag ("card_back.jpg"), :class => "ten-card-back" %>
        </div>
        <div id="ten-card-image-3">
          <%= image_tag @ten[2].attached_image, :class => "ten-card-image" %>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "Back to home", root_path, :class => "nav btn btn-primary" %>
</div>




